.div-container {
    /*background-image: url('../../../public/backgroundMobile.webp');*/
    /*background-size: cover;*/
    /*background-position: center;*/
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

/*@media (min-width: 1024px) {
    .div-container {
        background-image: url("../../../public/backgroundHD.webp");
    }
}*/