.div-container {
    width: 100%;
    height: 100vh;
    background-image: url('../../../res/backgroundMobile.webp');
    background-size: cover;
    background-position: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (min-width: 1024px) {
    .div-container {
        background-image: url("../../../res/backgroundHD.webp");
    }
}