.div-container {
    margin-top: 2rem;
    width: 100%;
    /*background-image: url('../../../public/backgroundMobile.webp');
    background-size: cover;
    background-position: center;*/
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*@media (min-width: 1024px) {
    .div-container {
        background-image: url("../../../public/backgroundHD.webp");
    }
}*/